:root{
    --text-color: rgb(45, 222, 242);
}
body{
    font-family:'Lato', sans-serif;
    background-color:  #5A6275;
    background-image: url(https://krot.info/uploads/posts/2022-02/1644931637_11-krot-info-p-fon-pogoda-12.png);
    background-size:cover;
    max-width: 100%;
    opacity: .85;
    text-shadow: 1px 1px 1px #030407;
    user-select: none;
}
p{
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 100%;
    background-color:  #606a83;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin:50px auto 0;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    width: 700px;
    height: 500px;
    color: #fff;
    box-shadow: inset 2px 2px 12px  #c8d8ff;
}
.top-row,
.middle-row,
.list{
    display: flex;
    justify-content: space-between;
}

input{
    max-width: 100%;
    width: 300px;
    padding: 9px 15px 9px 20px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 30px;
    margin-top: 10px;
    color: #fff;
}
input:hover,
.real-temp:hover{
    box-shadow: 1px 1px 12px white;
}
input:active,
.real-temp:active{
    box-shadow: 1px 1px 2px white;
}
.submit{
    width: 70px;
    padding: 9px 0;
    cursor: pointer;
    transition: all .3s ease;
}
.temp {
    color: var(--text-color);
}
.weather-description{
    margin: 0 40px 0 auto;
    color: var(--text-color);
    text-shadow: none;
}
.real-temp{
    width: 70px;
    padding: 9px 0;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
    margin: 0;
}
.temperature{
    display: inline;
    font-size: 80px;
    line-height: 1;
}
.units{
    font-size: 35px;
    color: #e3ecff;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-left: 10px;
}
.celsium{
    vertical-align: top;
}
.fahrenheit{
    position: relative;
    left: -58px;
}
.current{
    color: var(--text-color);
}
h1,
h2
{
    margin: 0;
    line-height: 1.5;
    color: var(--text-color);
}
h2
{
    font-style: italic;
    font-weight: 100;
}
.features,
.wind{
    line-height: 1.4;
    font-size: 16px;
}
.wind{
    margin-top: 15px;
}
.middle-row {
    flex: 1 1 auto;
    align-items: flex-start;
    justify-content: start;
}
.content{
    flex: 0 0 35%;
}
.img{
    width: 200px;
    height: 200px;
    margin-left: 80px;
}

.list {
    list-style: none;
    padding: 0;
    text-align: center;
    justify-content: space-between;
}
.item {
    width: 80px;
    height: 100px;
    padding: 10px 10px 20px 10px;
    border: 1px solid white;
    border-radius: 30px;
}
.item img{
    display: block;
    width: 70px;
    height: 70px;
}
.item span{
    font-size: 13px;
    font-style: normal;
    margin: 0px 0 0 0px;
    color: var(--text-color);
}
.githublink{
     text-align: center;
     font-size: 12px;
     text-shadow: none;
     margin-top: 10px;
}